body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Work Sans";
}

.header {
  width: 1280px;
  margin: auto;
  margin-top: 1em;
}

.header img {
  width: 1280px;
}

p,
li {
  color: #00548b;
}

.logoContainer {
  text-align: center;
}

.logoContainer > img {
  width: 300px;
  margin: auto;
  margin: 2em 0;
}

.mainEspace {
  width: 80vw;
  margin: auto;
  font-family: "Work Sans";
}

.banniere {
  width: 100vw;
}

.animationChiffre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
  margin-bottom: 0em;
  width: 100%;
}

.animationChiffre > h1 {
  color: #00548b;
  font-size: 32px;
  font-weight: 600;
  padding-right: 2em;
  width: 45%;
}

.animation2 {
  padding-left: 15vw;
  margin-top: 0;
  margin-bottom: 2em;
}

.animation2 h1 {
  font-size: 27px;
  color: #00548b;
}

.animation2 .word2 {
  font-size: 24px;
}

.word,
.word2 {
  color: #00548b;
  font-size: 27px;
  font-weight: 400;
  max-width: 45%;
}

.word2 {
  color: #00548b;
}

.sepIntro {
  border-bottom: 1px #00548b solid;
  width: 40vw;
  margin: 0em auto 2.5em auto;
  display: none;
}

h2 {
  border-bottom: 1.5px solid #00548b;
  font-weight: 600;
  font-size: 22px;
  color: 00548b;
  display: inline-block;
  padding: 0.7em 0.7em 0.7em 0;
  border-radius: 2px;
  text-transform: uppercase;
  min-width: 20vw;
}

.textIntro > p {
  font-size: 1rem;
  margin-top: 1em;
  line-height: 25px;
  text-align: justify;
  color: #00548b;
}

.textIntro > p strong {
  color: #11b6df;
}

.textIntro > .buttonCarriere {
  margin-top: 2.2em;
  margin-bottom: 1em;
}

.buttonCarriere {
  padding: 0.5em 0.9em;
  border-radius: 1px;
  display: inline-block;
  text-align: center;
  border: 2px solid #00548b;
  cursor: pointer;
}

.buttonCarriere > a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  color: #00548b;
}

.split_espaceCarriere_job_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.leftContainerCarriere {
  width: 65%;
  margin: 1.5em 0;
}

.rightContainerCarriere {
  width: 30%;
  margin-top: 1.2em;
}

.photosGridContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photoGrid > img {
  max-width: 250px;
  height: auto;
}

.photoGrid {
  padding: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleWelcomeToTheJugnle {
  text-align: center;
  color: #00548b;
  font-size: 15px;
  font-weight: 500;
  width: 50%;
  margin: 1em auto 2em auto;
  text-decoration: underline;
}

#welcomekit-embed {
  border: 1px #00548b solid !important;
}

.welcomekit-job-name {
  font-size: 14px;
  text-align: center;
}

.welcomekit-jobs-list {
  width: 90%;
  margin: auto;
  padding: 0 0 1.5em 0;
}

.welcomekit-jobs-list-item-link {
  text-decoration: none;
  color: #00548b;
  margin-bottom: 0.1em;
}

.welcomekit-jobs-list-item {
  margin-top: 1em auto;
  list-style-type: none;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
}

.welcomekit-job-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.welcomekit-job-infos > li {
  margin: 0 1em;
}

.sectionEspaceCarriere {
  margin: 2em 0;
}

.sectionEspaceCarriereContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.imgContainer {
  max-width: 40%;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 250px !important;
}

.sectionEspaceCarriereP > p {
  text-align: justify;
  font-size: 15px;
  line-height: 22px;
  margin: 0 0 1em 0;
  color: #00548b;
}

.sectionEspaceCarriereP {
  width: 50%;
}

.containerBtn {
  width: 100%;
  text-align: center;
}

.LastSectionEspaceCarriere {
  text-align: center;
  max-width: 500px;
  margin: 2em auto;
  color: #00548b;
}

.LastSectionEspaceCarriere > p {
  margin: 0;
  font-size: 18px;
}

.LastSectionEspaceCarriere > p > span {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
}

.separateurSectionCarriere {
  display: none;
}

.videoContainerIndex h4 {
  text-align: center;
  font-size: 18px;
  width: 80%;
  margin: 2em auto 1em auto;
  color: #00548b;
  font-weight: 700;
}

.videoBox {
  text-align: center;
  margin-bottom: 2em;
}

.videoBox h3 {
  font-size: 14px;
  color: #00548b;
}

.videoBox video {
  width: 300px;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .word,
  .word2 {
    height: 60px;
    font-size: 16px !important;
    width: 90vw !important;
  }
  .animationChiffre {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    text-align: center;
  }
  .animationChiffre h1,
  .animationChiffre div {
    width: 95%;
    padding: 0;
    font-size: 18px;
  }
  .photoGrid > img {
    max-width: 150px;
    height: auto;
  }
  .titleWelcomeToTheJugnle {
    width: 90%;
  }
  .sectionEspaceCarriereContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sectionEspaceCarriereContent .imgContainer {
    margin: 1.5em auto;
  }
  .videoBox video {
    width: 150px;
  }
  .sectionEspaceCarriereP {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .photosGridContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainEspace {
    width: 90%;
  }
  .split_espaceCarriere_job_photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .leftContainerCarriere {
    width: 100%;
  }
  .rightContainerCarriere {
    width: 50%;
  }
  .rightContainerCarriere {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .rightContainerCarriere #welcomekit-embed {
    width: 45%;
  }
  .rightContainerCarriere .videoContainerIndex {
    width: 45%;
  }
  .rightContainerCarriere .videoContainerIndex h4 {
    margin-top: 0;
  }
  .animation2 {
    padding: 0;
  }
}

.espaceCultureEntreprise {
  width: 1280px;
  margin: auto;
  font-family: "Work Sans";
  overflow: hidden;
}

.splitLeftRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leftContainerCulture {
  width: 100%;
}

.rightContainerCulture {
  width: 0%;
}

.leftContainerCulture > h2 {
  color: #00548b;
  margin: 0;
  margin: 1em 0 1em 0;
  font-size: 28px;
  font-weight: 500;
}

/* Valeurs Entreprise */
.introValeursEntreprise {
  margin: auto;
  font-size: 15px;
  font-weight: 400;
  color: #00548b;
  width: 70%;
  text-align: center;
}

.imgContainerValeurs {
  width: 100%;
  text-align: center;
  margin: 2em auto;
}

.valeursEntrepriseContainerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionValeursEntreprise {
  width: 45%;
}

.sectionValeursEntreprise > h3 {
  font-size: 23px;
  font-weight: 500;
  color: #00548b;
}

.sectionValeursEntreprise > p {
  margin: 0.5em 0;
  font-size: 16px;
  color: #00548b;
}

/* Politique QHSE */
.politiqueQHSE_split_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.politiqueQHSE_content_Right_Part {
  width: 20vw;
}

.politiqueQHSE_content_Right_Part > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.politiqueQHSE_content_Left_Part {
  width: 47%;
}

.politiqueQHSE_content_Left_Part img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.politiqueQHSE_content_Left_Part li {
  margin: 1.5em auto;
  list-style: "-";
  padding-left: 1em;
}

.politiqueQHSE_content_Left_Part p {
  line-height: 25px;
}

.demarcheRse h2 {
  color: #00548b;
  font-weight: 500;
}

.demarcheRse img {
  float: left;
  margin: 1em 2.5em 2em 0;
}

.demarcheRse .sectionDemarcheRse > h3 {
  color: #00548b;
  margin-bottom: 0.2em;
  font-weight: 500;
}

.sectionDemarcheRse > p {
  margin-top: 0.4em;
  font-size: 16px;
}

.sectionDemarcheRse h6 {
  color: #00548b;
}

.politiqueInclusionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.politiqueInclusionsContent {
  width: 280px;
  text-align: center;
  margin: 1em auto;
}

.politiqueInclusionsContent > h3 {
  color: #00548b;
  font-size: 20px;
  font-weight: 500;
}

.politiqueInclusionsContent > img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.containerVideo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
}

.containerVideo > a {
  width: 150px;
  margin: 1.5em auto;
}

.containerVideo > a > img {
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 1.5em auto;
}

.feedResaux {
  text-align: right;
}

.espaceAlternantsCarriere {
  width: 1280px;
  margin: auto;
  font-family: "Work Sans";
  overflow: hidden;
}

.chiffreCle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #00548b;
  font-size: 22px;
  margin-top: 2em;
}

.chiffreCle > div {
  text-align: center;
  font-weight: 600;
}

.espaceNosMetiersCarriere {
  width: 1280px;
  margin: auto;
  font-family: "Work Sans";
  overflow: hidden;
}

.chiffreCle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #00548b;
  font-size: 22px;
  margin-top: 2em;
}

.chiffreCle > div {
  text-align: center;
  font-weight: 600;
}

.sectionMetierContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionMetier {
  width: 45%;
}

.sectionMetier h5 {
  color: #00548b;
}

.leftMetier {
  text-align: right;
}
/*# sourceMappingURL=style.css.map */